*{
    margin: 8px;
    padding: 0px;
}
body{
    background-color: #151515;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
    gap: 28px;
    color: #ffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.butn{
    display: flex;
    align-items: center;
}


.ENG1{
    border: none;
    background: #151515;
    color: #ffff ;
    gap: 10px;
    display: flex;
    text-align: center;
}
.cus{
    border: none;
    background: #151515;
    color: #ffff ;
    margin-left: 22px;
    display: flex;
}
.pinky{
    color: #ffff;
    margin-left: -25px;
    margin-top: 10px;

}
select{
    border: none;
    background: #151515;
    color: #ffff ;
    padding: 5px 8px;
}

.main{
    display: flex;

}
.left{
    width: 30%;
}
.right{
    width: 40%;
}
.right img{
    width: 150%;
    position: relative;
    z-index: 1;
}

/* Section1 */
.bp{
    width: 700px;
}
.main{
    position: relative;
    
}
.img1{
    position: absolute;
    right: 0;
    z-index: -1;
    right: 100px;
    
    
}
.img2{
    position: absolute;
    right: 0;
    top: 50px;  
    
}
.content{
    position: absolute;
    margin-top: 45px;
}
h1{
    font-size: 65px;
    max-width: 750px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffff;
}
span{
    color: #f637ec;
}
p{
    font-size: 21px;
    max-width:520px ;
    color:#C1BCC1;
    font-family:  'Arial Narrow', Arial, sans-serif;
    margin-top: 18px;
}
.get{
    display: flex;
    margin-top: 70px;
}
h3{
    margin-left: -24px;
    color: aliceblue;
    
    font-size: 22px;
}
.pinkbuttn{
    height: 29px;
}
