    /* .container{
    height: 500px;
    width: 700px;
    background-image: url("assets/Photos/image\ 2.png");
    border: 3px solid red;
    background-repeat: no-repeat;
    background-size: 50% 45%;
    background-position: -80px 0px;
    
  }
  .inner{
  display: flex;
  align-items: center;
  justify-content: space-around;
    border: 2px solid blue;
    backdrop-filter: blur(10px);
    height: 80px;
    max-width: 220px;
    line-height: 2px;
    margin-top: 140px;
  }
  .content{
    line-height: 2px;
  }
  .rightbtn{
    margin-top: 2px;
    padding: 8px 8px;
    background: #F4694C;
    color: #ffff;
    border: none;
  
  }
  .content h4{
    color: #ffff;
    font-family: "Poppins";
    font-weight: 100;
  }
  .content p {
    color: rgb(150, 146, 146);
    font-family: "Poppins";
  } */


  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Gemunu+Libre:wght@200;300;400&family=Oswald:wght@300&family=Poppins:wght@200&family=Silkscreen&family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
  <style>
   .cont1{
    border: 3px solid red;
    height: 500px;
   }
   .bgimg{
    background-image: url("assets/Photos/image\ 2.png");
    background-repeat: no-repeat;
    background-size: 50% 45%;
    background-position: -80px 0px;
    height: 500px;
    width: 700px;
   }
  </style>
</head>
<body>
 <div class="conatiner">
  <div class="cont1">
    <div class="bgimg">
     
    </div>
  </div>
 </div>
</body>
</html>



<div class="content">
 <h4>The Soldiers War</h4>
 <p>Actions</p>
 <img src="./assets/Icons/Star 1.svg" alt="">
 <img src="./assets/Icons/Star 1.svg" alt="">
 <img src="./assets/Icons/Star 1.svg" alt="">
 <img src="./assets/Icons/Star 1.svg" alt="">
 <img src="./assets/Icons/Star 1.svg" alt="">
</div>
 <div class="rifht">
  <button class="rightbtn">Download</button>
 </div>
