*{
  margin: 0px;
  padding: 0px;
}
.sec_01_main{
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative
  
}  
ul{
  display: flex;
  gap: 40px;
  list-style: none;
  color: #ffff;
  font-family:"Poppins";
  font-size: 20px;
}
main{
background: url(./assets/Photos/futuristic-bg.png);
background-repeat: no-repeat;
 background-size:cover;
 position: relative;
 height: 109vh;
 height: 100vh;
margin: auto;
max-width: 1300px;
}
.sec_01_btn2{
background: #F4694C;
padding: 11px 22px;
color: #ffff;
font-size: 18px;
}
.sec_01_btn1{
background: transparent;
color: #ffff;
font-size: 18px;
}
.sec_01_left h1{
color: #ffff;
font-size: 40px;
max-width: 430px;
font-family:"Poppins";
line-height: 60px;
}

.sec_01_left p{
color: #6f6768;
font-family:"Poppins";
font-size: 16px;
max-width: 440px;
margin:30px 0px;
}
.sec_btn1{
padding: 10px 20px;
background: #F4694C;
color: #ffff;
border: none;
}
.sec_btn2{
padding: 10px 20px;
background: transparent;
color: #ffff;
border: 1px solid #ffff;
}

.img1{
margin-left: 70px;
width: 70px;
padding: 20px 0px;
}

.sec_01_right p{
/* display: flex; */
color: #ffff;
max-width: 220px;
font-size: 25px;
margin-top: 65px;
}
.subconatainer{
display: flex;
height: 500px;
justify-content: space-around;
align-items: center;
margin: auto;
max-width: 1200px;
}
.sec_01_right{
margin-top: 40px;
}
.img2{
padding: 0px 10px;
}

.img2_para{
display: flex;
}
.imgthird{
display: flex;
justify-content: end;
}
.img3{
width: 50px;
}
/* 
Section 2 start */

.sec_2_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  gap: 20px;
}
.sec_02_img {
  width: 230px;
  height: 230px;
  display: flex;
}
.bnm {
  
  color: #ffff;
  font-family: "Poppins";
}
.bnm p{
    color: rgb(168, 163, 163);
}
.mkp {
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 20px;
  padding: 15px 5px;
  margin-top: -90px;
  backdrop-filter: blur(10px);
}
.btn_sec-2 {
  padding: 8px 8px;
  background: #f4694c;
  color: #ffff;
  border: none;
}
.sec_2_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.sec_2_main h1{
    max-width: 450px;
    text-align: center;
    font-family: "Poppins";
    font-weight: 900;
}
/* 
Section 2 end */

/* Section 3 start */
.sec_03_main{
  height: 550px ;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 1200px;
  gap: 60px;
}
.sec_3_right h1{
  font-size: 42px;
  font-family: "Poppins";
  max-width: 500px;
  font-weight: bold;
  line-height: 55px;
}
.sec_3_right p{
  color: #6f6768;
  font-family: "Poppins";
  max-width: 520px;
  line-height: 28px;
  margin: 40px 0px;
  font-size: 18px;
}
.sec_3_btn{
  margin-top: 20px;
}
.sec_3_button{
  padding: 15px 28px;
  background: #F4694C;
  color: #ffff;
  font-size: 18px;
  border: none;
}
.sec_3_button2{
  padding: 15px 28px;
  background: #ffff;
  color: #F9AFA0;
  border: 2px solid #F9AFA0  ;
  font-size: 18px;
}
/* Section 3 end */

/* Section 4 start */
.sec_4_main{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.sec_4_left h1{
  font-size: 40px;
  max-width: 500px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;

}

.sec_4_right{
  display: flex;
  gap: 10px;
}

.left_4{
  width: 60px;
  height: 60px;
  background: #FDE1DB;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right_4{
  width: 60px;
  height: 60px;
  background: #F4694C;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right_4 img{
  width: 30px;
}
