*{
  margin: 0px;
  padding: 0px;
}
.sec_01_main{
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative
  
}  
ul{
  display: flex;
  gap: 40px;
  list-style: none;
  color: #ffff;
  font-family:"Poppins";
  font-size: 20px;
}
li:hover{
  cursor: pointer;
  color: #f4694c;
  font-weight: 700;
  font-size: 18px;
  text-decoration: underline;
}
main{
background: url(./assets/Photos/futuristic-bg.png);
background-repeat: no-repeat;
 background-size:cover;
 position: relative;
 height: 109vh;
 height: 100vh;
margin: auto;
max-width: 1300px;
}
.sec_01_btn2{
background: #F4694C;
padding: 11px 22px;
color: #ffff;
font-size: 18px;
}
.sec_01_btn2:hover{
  background: #ffff;
  color: #F4694C;
  cursor: pointer;

}
.sec_01_btn1{
background: transparent;
padding: 11px 22px;
color: #ffff;
font-size: 18px;
}
.sec_01_btn1:hover{
  
  background: #ffff;
  color: #F4694C;
  cursor: pointer;
}


.sec_01_left h1{
color: #ffff;
font-size: 40px;
max-width: 430px;
font-family:"Poppins";
line-height: 60px;
}
.sec_01_left h1:hover{
  font-size: 35px;
  font-style: italic;

}

.sec_01_left p{
color: #8f8b8c;
font-family:"Poppins";
font-size: 16px;
max-width: 440px;
margin:30px 0px;
}
.sec_01_left p:hover{
  color: #ffff;
}

.sec_btn1{
padding: 10px 20px;
background: #F4694C;
color: #ffff;
border: none;
}
.sec_btn1:hover{
  cursor: pointer;
  background: #ffff;
  color: #F4694C;
}
.sec_btn2{
padding: 10px 20px;
background: transparent;
color: #ffff;
border: 1px solid #ffff;
}
.sec_btn2:hover{
  cursor: pointer;
  background: #ffff;
  color: #F4694C;
}

.img1{
margin-left: 70px;
width: 70px;
padding: 20px 0px;
}
.img1:hover{
  cursor: progress;
}

.sec_01_right p{
/* display: flex; */
color: #ffff;
max-width: 220px;
font-size: 25px;
margin-top: 65px;
}
.subconatainer{
display: flex;
height: 500px;
justify-content: space-around;
align-items: center;
margin: auto;
max-width: 1200px;
}
.sec_01_right{
margin-top: 40px;
}
.img2{
padding: 0px 10px;
}

.img2_para{
display: flex;
}
.imgthird{
display: flex;
justify-content: end;
}
.img3{
width: 50px;
}
/* 
Section 2 start */

.sec_2_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  gap: 20px;
}
.sec_02_img {
  width: 230px;
  height: 230px;
  display: flex;
}
.bnm {
  
  color: #ffff;
  font-family: "Poppins";
}
.bnm p{
    color: rgb(168, 163, 163);
}
.mkp {
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 20px;
  padding: 15px 5px;
  margin-top: -90px;
  backdrop-filter: blur(10px);
}
.btn_sec-2 {
  padding: 8px 8px;
  background: #f4694c;
  color: #ffff;
  border: none;
}
.sec_2_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.sec_2_main h1{
    max-width: 700px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 35px;
}
.sec_2_main h1:hover{
  font-size: 30px;

}
/* 
Section 2 end */

/* Section 3 start */
.sec_03_main{
  height: 550px ;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 1200px;
  gap: 60px;
}
.sec_3_right h1{
  font-size: 42px;
  font-family: "Poppins";
  max-width: 500px;
  font-weight: bold;
  line-height: 55px;
}
.sec_3_right p{
  color: #6f6768;
  font-family: "Poppins";
  max-width: 520px;
  line-height: 28px;
  margin: 40px 0px;
  font-size: 18px;
}
.sec_3_btn{
  margin-top: 20px;
}
.sec_3_button{
  padding: 15px 28px;
  background: #F4694C;
  color: #ffff;
  font-size: 18px;
  border: none;
}
.sec_3_button2{
  padding: 15px 28px;
  background: #ffff;
  color: #F9AFA0;
  border: 2px solid #F9AFA0  ;
  font-size: 18px;
}
/* Section 3 end */

/* Section 4 start */
.sec_4_main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1200px;

}
.sec_4_left h1{
  font-size: 40px;
  max-width: 500px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;

}

.sec_4_right{
  display: flex;
  gap: 10px;
}

.left_4{
  width: 60px;
  height: 60px;
  background: #FDE1DB;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right_4{
  width: 60px;
  height: 60px;
  background: #F4694C;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right_4 img{
  width: 30px;
}
/* Section 4 end */

/* Section 5 start */
.sec_5_main{
  display: flex;
  gap: 20px;
  height: 420px;
  align-items: center;
  margin: auto;
  max-width: 1200px;
  
}
.right_5 h1{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 350px;
}
.right_5 h5{
  margin-top: 20px;
  font-size: 18px;
  color: #f4694c;
  font-family: Arial, Helvetica, sans-serif;
}
.right_5 p{
  padding: 30px 0px;
  max-width: 350px;
  font-size: 20px;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #6f6768;
}
.btn_sec-5{
  margin-top: 5px;
  padding: 15px 32px;
  background: #F4694C;
  color: #ffff;
  font-size: 20px;
  border: none;
}
/* Section 5 End */

/* section 6 start */
.sec_6_main{
  height: 800px;
  background: #000;
  color: #ffff;
  
}

.sec_6_container{
  display: flex;
  justify-content: center;
}
.sec_6_h{
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  max-width: 400px;
  margin: auto;
  text-align: center;
  align-items: center;
}
.sec_6_p p{
  color: #6f6768;
  font-size: 20px;
  max-width:700px ;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  padding: 50px 60px;
}
.sec_6_p h1{
  
  font-size: 60px;
  -webkit-text-stroke: 0.3px rgb(105, 104, 104);
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}
.sec_6_Pic{
  display: flex;
  align-items: flex-end;
  gap: 20px;
  margin-top: -20px;
  margin-left: 30px;
}
/* section 6 End */

/* section 7 start */
.sec_07_main{
  height: 400px;
  background:rgba(0, 0, 0, 0.7) url(Assets/Photos/Rectangle\ 606.png);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec_07_content{
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.sec_07_content h1{
  font-size: 35px;
  text-align: center;
  color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  max-width: 400px;
}
.sec_07_content p {
  font-size: 17px;
  text-align: center;
  color: #888182;
  max-width: 420px;
  font-family: "Poppins";
}
.btn_7{
  padding: 10px 20px;
  background: #F4694C;
  color: #ffff;
  font-family: "Poppins";
  border: none;
}
/* Section 7 end */

/* Section 8 start */
.sec_8_main{
  height: 250px;
  background: #000;
  padding: 80px 0px;
  
}
.sec_8_contain{
  display: flex;
 
  justify-content: space-around;
  background: #000;
}
.sec_8_contain li{
  list-style: none;
  font-family: "Poppins";
  color: #8f8f8c;
  line-height: 40px;
}
.sec_8_01{
  line-height: 40px;
}
.sec_8_01 p{
  color: #6f6768;
  font-size: 18px;
  max-width: 250px;
  font-family: "Poppins";
}
/* Section 8 completed */



