*{
    margin: 0;
    padding: 0;
    /* background: #F6F8FA; */
}
.sec_01_container{
    
    background:rgba(0, 0, 0, 0.4) url(./Assets/Photos/mainBackground.png);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size:1400px 630px;
    /* position: relative; */
 height: 103vh;
}
nav{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid red; */
    /* gap: 140px; */
}
ul{
    list-style: none;
    display: flex;
    gap: 60px;
    color: #ffff;
    font-family: "Manrope";
}
.line{
    height: 3px ;
    width: 100%;
    background: rgb(118, 116, 116);
    max-width: 1100px;
    margin: auto;
}
.sc_01_text{
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 120px;
}
.sc_01_text h1{
    font-size: 60px;
    font-family: "Manrope";
    color: #ffff;
    max-width: 600px;
}
.sc_01_text p{
    color: #7C8180;
    font-size: 18px;
    font-family: "Manrope";
    max-width: 400px;
}
.sec_01_btn{
    padding: 12px 22px;
    background: #6663E9;
    color: #ffff;
    border-radius: 25px;
    border: none;
    font-size: 18px;
}

/* Section 1 End */
/* Section 2 start */
.sec_02_main{
    height: 120px;
    border-radius: 20px;
   display: flex;
   justify-content: space-around;
   align-items: center;
    
    position: relative;
    background: #ffff;
    max-width: 1100px;
    margin: auto;
    margin-top: -55px;
    /* border: 5px solid red; */
}
/* .sec_2{
    background: #F6F8FA;
    position: relative;
} */
.sec_02_container{
    display: flex;
    gap: 60px;
   
}
/* section 2 end here */

/* Section 3 start here */
.img_3_content{
    height: 75px;
    /* border: 5px solid red; */
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    margin-top: -35px;
    margin-left: 27px;
    position: relative;
    background: #ffff;
    box-shadow: 5px 5px 50px 10px;
}
.img_3_content h4{
    font-size: 20px;
    font-family: "Manrope";
}
.img_3_content p{
    color: #6663E9;
    font-size: 18px;
    font-family: "Manrope";
}
.btn_3{
    padding: 12px 30px;
    border-radius: 30px;
    background: #6663E9;
    color: #ffff;
    border: none;
}
.sec_3_img_contianer{
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.img3-2{
    margin-top: 30px;
}
.img3-3{
    margin-top: 70px;
}
.sec-3_heading{
    display: flex;
    justify-content: center;
    font-family: "Manrope";
    font-size: 30px;
    max-width: 400px;
    text-align: center;
    margin: auto;
}
.sec_3_main{
background: #F6F8FA;
}

.sec_4_img_contianer{
    height: 430px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
/* Section 3 end */

/* Section 4 start */
.sec_04_main{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sec_4_left{
    width: 480px;
    height: 380px ;
    background: #6663E9;
    border-radius: 30px;
}.sec_4_left2{
    margin-left: 110px;
    padding:30px 20px;
    width: 250px;
    height: 250px;
    background: #ffff;
    border-radius: 30px;
}
.sec_4_left2 img{
    margin-top: -90px;
}
.sec_04_right{
    height: 380px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.sec_04_right h1{
    font-size: 40px;
    font-family: "Manrope";
    max-width: 400px;
}
.sec_04_right p{
    color: #7C8180;
    max-width: 400px;
}
.sec_04_btn{
    padding: 10px 18px;
    background: #6663E9;
    color: #ffff;
    font-size: 16px;
    border-radius: 20px;
    border: none;
}

/* Section 4 end */

/* Section 5 start */

.sec_05_main{
    height: 600px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}